<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Working with Flexbox</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <header>
    <h1>Working with Flexbox</h1>
    <p>See <a href="https://css-tricks.com/snippets/css/a-guide-to-flexbox/">this link</a></p>
  </header>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat saepe culpa provident sequi, nesciunt doloribus! Delectus tenetur ipsa ut quae incidunt cumque quas, accusamus eius! Numquam iste blanditiis voluptatum, sint.</p>
  <main class="container">
    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae nisi temporibus, architecto error aliquid, rem iste harum magnam laborum in obcaecati consequuntur voluptatibus modi voluptates quis sed quidem cumque esse.</div>
    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, aut, fugiat. Accusantium sunt, voluptatibus laboriosam tenetur, ad quisquam, nam blanditiis itaque similique sapiente iure quae doloribus deleniti debitis? Doloremque, iste.</div>
    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit delectus incidunt exercitationem placeat quibusdam quae ipsum labore odio et culpa temporibus omnis vitae sapiente tenetur, facilis saepe laborum consectetur, voluptatum.</div>
    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci deleniti, rem dolores dignissimos. Architecto reiciendis molestiae iusto optio nobis autem! Quam maiores dolores, assumenda libero commodi autem neque nulla nobis?</div>
  </main>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, non, accusamus. Perferendis corrupti reprehenderit atque ex impedit iste, quam mollitia eum, obcaecati veritatis eligendi, culpa voluptatem iusto eaque aut quod?</p>
</body>
</html>
